snippet clg "console.log"
console.log(${0})
endsnippet

snippet vue1 "vue-template"
<template>
  <el-container class="${0}-container">
    <div class="${1}-main">
      <router-view></router-view>
    </div>
  </el-container>
</template>
<script>
export default {
  name: '${2}',
  components: {},
  props: {},
  data() {
    return {}
  },
  methods: {},
  created() {},
  mounted() {},
  watch: {},
  computed: {},
}
</script>
<style scoped></style>
endsnippet

