{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/jsx-indent-props": [2, "tab"],
    "quotes": [1, "double"],
    "jsx-quotes": [1, "prefer-double"],
    "no-shadow": "off"
  },
  "parser": "babel-eslint"
}

